@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

.heading {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  font-size: 60px;
  padding-top: 100px;
  padding-bottom: 70px;
}

.button{
  /* color: #e8417c; */
  color: #f5f0f2;
  margin-top: 50px;
  font-weight: bold;
  padding-top: 5px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border: 1.5px solid rgb(252, 248, 248);
  border-radius: 6px;
  background-color: rgb(149, 20, 223);
  
}

.button:hover{
  color: brown;
  background-color: #8bb7e2;
  border-color: #065c8d;
}

.outercont{
  padding-bottom: 100px;
  text-align: center;
}

.grid {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 70px;
}