.body{
    background-color: #5cdb95;
  }

.container{

display: flex;
flex-direction: row;


} 
.heading{
  display: block;
  width: 20%;
  margin: 100px auto;
  text-align: center;
  font-size: 40px;
  color: rgb(19, 18, 18);
  padding-top: 3px;
  padding-bottom: 7px;
  border-radius: 5px;
  
}  


.img{
    
    width: 360px;
    height: 360px;
    margin: 40px 3% 50px 4%;
    padding-top: 20px;
    border-radius: 200px; 
}

